venv/
config.json
__pycache__/
*.pyc
ShieldXBot.session*

# Pyrogram sessions
*.session
*.session-journal

# Binaries
gcmcore.exe

# Environment files
.env
*.log

# Render temporary files
__render_cache__/
